@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

html {
  background-color: #c2c2c2;
}

button {
  width: 10em;
  height: 3em;
  margin-left: 3em;
  cursor: pointer;
  color: white;
  background:rgb(52, 64, 193);
  border: 1px solid #0cbac3;
  border-radius: 4%;
  outline: none;
  transition: .5s ease-in-out;
}

button:hover {
  transition: .5s ease-in-out;
  color: rgb(52, 64, 193);
  border: 1px solid rgb(52, 64, 193);
  background: white;
  stroke-dashoffset: -480;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #c2c2c2;
  color: rgb(52, 64, 193);
}

.satellite-image {
  border: 1px solid black;
  border-radius: 3%;
  width: 60.875vw;
  height: 60.875vh;
}

.load-image {
  border: 1px solid black;
  border-radius: 3%;
}

.user-notice , .coordinates {
  background-color: floralwhite;
  color: rgb(52, 64, 193);
  border: 2px solid blue;
  margin-top: 1.2em;
  padding: 3em;
  border-radius: 3%;
}

.save-button {
  margin: 0;
}