html {
  background-color: rgba(38, 35, 67, 0.539);
  color: rgb(248, 236, 5);
}

.image-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}



.satellite-image {
  border: 1px solid black;
  border-radius: 3%;
  width: 60.875vw;
  /* aspect-ratio: auto 387 / 387; */
  height: 60.875vh;
  /* height: 40vh;
  width: 25vw; */
}