.form-wrapper {
  display: flex;
  justify-content: center;
  background-color: #c2c2c2;
  color: rgb(52, 64, 193);
}

.date-field {
  width: 8em;
  height: 2.5em;
}

.btn {
  width: 10em;
  height: 3em;
  margin-left: 3em;
  cursor: pointer;
  color: white;
  background:rgb(52, 64, 193);
  border: 1px solid #0cbac3;
  border-radius: 4%;
  outline: none;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  color: rgb(52, 64, 193);
  border: 1px solid rgb(52, 64, 193);
  background: white;
  stroke-dashoffset: -480;
}


